<div class="header">
  <h1>{{title}}</h1>
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <img class="card-image" src="../../assets/test.jpg" alt="cover" />
        <div class="card-content">
          <h3 class="card-title">Classroom of the Elite - Volume 04.5</h3>
          <p class="card-author">Syougo Kinugasa</p>
          <p class="card-discount">20%</p>
        </div>
        <div>
          <button class="btn" mat-fab extended>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-image" src="../../assets/test.jpg" alt="cover" />
        <div class="card-content">
          <h3 class="card-title">Classroom of the Elite - Volume 04.5</h3>
          <p class="card-author">Syougo Kinugasa</p>
          <p class="card-discount">20%</p>
        </div>
        <div>
          <button class="btn" mat-fab extended>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-image" src="../../assets/test.jpg" alt="cover" />
        <div class="card-content">
          <h3 class="card-title">Classroom of the Elite - Volume 04.5</h3>
          <p class="card-author">Syougo Kinugasa</p>
          <p class="card-discount">20%</p>
        </div>
        <div>
          <button class="btn" mat-fab extended>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img class="card-image" src="../../assets/test.jpg" alt="cover" />
        <div class="card-content">
          <h3 class="card-title">Classroom of the Elite - Volume 04.5</h3>
          <p class="card-author">Syougo Kinugasa</p>
          <p class="card-discount">20%</p>
        </div>
        <div>
          <button class="btn" mat-fab extended>
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
